html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: auto;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header::before {
  content: "";
  background-image: url("https://www.vangoghgallery.com/skin/img/sunf_header.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

.header-content {
  position: relative;
}

h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 10em;
  text-align: center;
}

h2 {
  font-family: "Caveat Brush", cursive;
  font-size: 4em;
  text-align: center;
}

main {
  background: url("https://www.vangoghgallery.com/img/starry_header.jpg") center;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 2rem;
  grid-template-areas:
    "introduction"
    "paintings"
    "quickfacts";
}

.intro-section {
  background-color: #fff;
  grid-area: introduction;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem;
  text-align: justify;
}

.content-text blockquote {
  font-family: "Parisienne", cursive;
  font-size: 2em;
}

figure {
  padding: 1.5rem;
  text-align: center;
}

figcaption {
  font-weight: bold;
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
}

.medium-image {
  max-width: 25em;
  height: auto;
  border-radius: 5px;
}

.paintings-section {
  grid-area: paintings;
  background-color: #fff;
}

.paintings {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.facts-section {
  grid-area: quickfacts;
  background-color: #fff;
}

.quick-facts-list {
  list-style-position: inside;
  list-style-type: "\1F33B";
}

.facts-section > p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  grid-area: footer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 3rem;
}

footer::before {
  content: "";
  background-image: url("https://www.vangoghgallery.com/skin/img/sunf_header.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

footer > p {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .intro-section {
    flex-wrap: wrap;
    justify-content: center;
  }
}
